#brandPage h2.bpHdl2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #212121;
}
#brandPage h3.bpHdl3 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  color: #212121;
}
#brandPage p.bpText {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}
#brandPage a.bpLink {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #212121;
}
#brandPage a.bpLink:hover {
  color: #a4a4a4;
}
#brandPage a.bpButton {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}

.layout-0 #brandPage h2.bpHdl2 {
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
}
.layout-0 #brandPage h3.bpHdl3 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}
.layout-0 #brandPage p.bpText {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.layout-0 #brandPage a.bpLink {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.layout-0 #brandPage a.bpButton {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

@media only screen and (max-width: 809px) {
  .mobile #brandPage h2.bpHdl2,
  .mobileapp #brandPage h2.bpHdl2 {
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;
  }
  .mobile #brandPage h3.bpHdl3,
  .mobileapp #brandPage h3.bpHdl3 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
  }
  .mobile #brandPage p.bpText,
  .mobileapp #brandPage p.bpText {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
  .mobile #brandPage a.bpLink,
  .mobileapp #brandPage a.bpLink {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
  .mobile #brandPage a.bpButton,
  .mobileapp #brandPage a.bpButton {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }
}
@media only screen and (max-width: 420px) {
  .mobile #brandPage h3.bpHdl3,
  .mobileapp #brandPage h3.bpHdl3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
  }
  .mobile #brandPage p.bpText,
  .mobileapp #brandPage p.bpText {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
}
.category-description {
  padding: 0 !important;
}

#brandPage {
  display: block;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #212121;
}
#brandPage *, #brandPage *::before, #brandPage *::after {
  box-sizing: border-box;
}
#brandPage h1, #brandPage h2, #brandPage h3, #brandPage h4, #brandPage p, #brandPage ul, #brandPage ol, #brandPage li, #brandPage figure {
  margin: 0;
  padding: 0;
}
#brandPage p {
  display: block;
}
#brandPage ul {
  list-style-type: none;
}
#brandPage ul li:before {
  display: none;
}
#brandPage input, #brandPage button, #brandPage textarea, #brandPage select {
  font: inherit;
}
#brandPage .hidden {
  display: none !important;
}
#brandPage a {
  transition: all 300ms ease-in-out;
}
#brandPage img {
  display: block;
  height: auto;
  max-width: 100%;
  aspect-ratio: attr(width), attr(height);
}

#articlePage.blank p {
  margin-top: 0;
}

#brandPage .mt16 {
  margin-top: 16px;
}
#brandPage .mCnr {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 360px) {
  .mobile #brandPage .mt16,
  .mobileapp #brandPage .mt16 {
    margin-top: 8px;
  }
}
#layout_switch {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 100;
  width: 180px;
  height: 70px;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.3);
  border-radius: 5px;
}
#layout_switch button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  width: 45px;
  height: 45px;
  margin: 5px;
  cursor: pointer;
  border: none;
}
#layout_switch button .icon {
  width: 30px;
  height: 30px;
  fill: #737373;
}
#layout_switch button.active {
  box-shadow: inset 0px 2px 4px 0px rgba(128, 128, 128, 0.7);
}

#brandPage {
  max-width: 1085px;
  margin: 0 auto;
  display: block;
  position: relative;
  background: #FFFFFF;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#testLayout.layout-1 #brandPage {
  width: 1085px;
}

#testLayout.layout-0 #brandPage {
  width: 809px;
}

.mobile #brandPage,
.flex-container {
  max-width: 100%;
}

#brandPage .bpToggle {
  background-color: #f4f5f5;
  color: #212121;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  width: 160px;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  display: block;
  border: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
#brandPage .bpToggle:hover {
  background-color: #eceeee;
}
#brandPage .bpToggle:active {
  background-color: #d4d8d8;
  box-shadow: none;
}
#brandPage .bpToggle__container {
  padding-bottom: 48px;
  padding-top: 24px;
}
#brandPage .bpToggle__content {
  display: none;
}
#brandPage .bpToggle__content.is-visible {
  display: block;
}

.layout-0 #brandPage .bpToggle {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

@media only screen and (max-width: 809px) {
  .mobile #brandPage .bpToggle,
  .mobileapp #brandPage .bpToggle {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }
}
#brandPage .bpDivider {
  background-color: #ff6900;
  height: 24px;
}
#brandPage .bpNav {
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}
#brandPage .bpNav__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
#brandPage .bpNav__logo {
  height: 56px;
  width: 56px;
  fill: #ff6900;
  transition: fill 300ms ease-in-out;
}
#brandPage .bpNav__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 48px;
  list-style-type: none;
}
#brandPage .bpNav__home {
  height: 40px;
  width: 40px;
  fill: #ff6900;
  cursor: pointer;
  transition: fill 300ms ease-in-out;
}
#brandPage .bpNav__home:hover {
  fill: #ea5b0c;
}
#brandPage .bpNav__hamburger {
  display: none;
}
#brandPage .bpNav__hamburger__list {
  display: none;
  height: 0;
  opacity: 0;
  list-style-type: none;
  transition: all 300ms ease-in-out;
}
#brandPage .bpNav__hamburger__list.active {
  height: 146px;
  opacity: 1;
}
#brandPage .bpNav__hamburger__listItem {
  text-align: center;
  border-bottom: solid 1px #f4f5f5;
  padding: 8px 0;
}
#brandPage .bpNav__hamburger__listItem:last-of-type {
  border: none;
}
#brandPage .bpNav__hamburger__listItem a {
  display: block;
}
#brandPage .bpNav__hamburgerIcon {
  width: 30px;
  height: 22px;
  position: relative;
  transform: rotate(0deg);
  cursor: pointer;
}
#brandPage .bpNav__hamburgerIcon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #a4a4a4;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#brandPage .bpNav__hamburgerIcon span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
#brandPage .bpNav__hamburgerIcon span:nth-child(2) {
  top: 9px;
  transform-origin: left center;
}
#brandPage .bpNav__hamburgerIcon span:nth-child(3) {
  top: 18px;
  transform-origin: left center;
}
#brandPage .bpNav__hamburgerIcon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -1px;
  left: 4px;
}
#brandPage .bpNav__hamburgerIcon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#brandPage .bpNav__hamburgerIcon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 20px;
  left: 4px;
}
#brandPage .bpSingleRight {
  margin-bottom: 24px;
  position: relative;
}
#brandPage .bpSingleRight__caption {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
}
#brandPage .bpSingleRight__caption .bpHdl2, #brandPage .bpSingleRight__caption .bpText {
  color: #ffffff;
}
#brandPage .bpSingleLeft {
  position: relative;
  margin-bottom: 24px;
}
#brandPage .bpSingleLeft__caption {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
}
#brandPage .bpDouble {
  padding-top: 0px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 24px;
}
#brandPage .bpDouble__unit {
  position: relative;
}
#brandPage .bpDouble__unit:nth-of-type(2) .bpHdl3, #brandPage .bpDouble__unit:nth-of-type(2) .bpText {
  color: #ffffff;
}
#brandPage .bpDouble__caption {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  text-align: center;
}
#brandPage .bpDouble__text {
  min-height: 82px;
}
#brandPage .bpButton {
  background-color: #ff6900;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  width: 160px;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  display: block;
  border: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
#brandPage .bpButton:hover {
  background-color: #f06300;
}
#brandPage .bpButton:active {
  background-color: #c25000;
  box-shadow: none;
}

.layout-0 #brandPage .bpNav__logo {
  height: 48px;
  width: 48px;
}
.layout-0 #brandPage .bpNav__menu {
  gap: 24px;
}
.layout-0 #brandPage .bpNav__home {
  height: 24px;
  width: 24px;
}
.layout-0 #brandPage .bpDouble {
  gap: 16px;
}
.layout-0 #brandPage .bpDouble__caption {
  bottom: 24px;
}
.layout-0 #brandPage .bpDouble__text {
  min-height: unset;
}

@media only screen and (max-width: 1085px) {
  .mobile #brandPage .bpNav__logo,
  .mobileapp #brandPage .bpNav__logo {
    height: 48px;
    width: 48px;
  }
  .mobile #brandPage .bpNav__menu,
  .mobileapp #brandPage .bpNav__menu {
    gap: 24px;
  }
  .mobile #brandPage .bpNav__home,
  .mobileapp #brandPage .bpNav__home {
    height: 24px;
    width: 24px;
  }
  .mobile #brandPage .bpDouble,
  .mobileapp #brandPage .bpDouble {
    gap: 16px;
  }
  .mobile #brandPage .bpDouble__caption,
  .mobileapp #brandPage .bpDouble__caption {
    bottom: 24px;
  }
  .mobile #brandPage .bpDouble__text,
  .mobileapp #brandPage .bpDouble__text {
    min-height: unset;
  }
}
@media only screen and (max-width: 760px) {
  .mobile #brandPage .bpSingleRight__caption,
  .mobileapp #brandPage .bpSingleRight__caption {
    width: calc(100% - 48px);
    margin: auto;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
  }
  .mobile #brandPage .bpSingleRight__caption .bpButton,
  .mobileapp #brandPage .bpSingleRight__caption .bpButton {
    margin-left: auto;
    margin-right: auto;
  }
  .mobile #brandPage .bpSingleLeft__caption,
  .mobileapp #brandPage .bpSingleLeft__caption {
    width: 48%;
  }
  .mobile #brandPage .bpDouble,
  .mobileapp #brandPage .bpDouble {
    flex-direction: column;
  }
  .mobile #brandPage .bpDouble img,
  .mobileapp #brandPage .bpDouble img {
    width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .mobile #brandPage .bpSingleLeft__caption,
  .mobileapp #brandPage .bpSingleLeft__caption {
    top: 24px;
    left: 50%;
    margin: auto;
    width: 85%;
    transform: translateX(-50%);
    text-align: center;
  }
  .mobile #brandPage .bpSingleLeft__caption .bpButton,
  .mobileapp #brandPage .bpSingleLeft__caption .bpButton {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 520px) {
  .mobile #brandPage .bpNav,
  .mobileapp #brandPage .bpNav {
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
  }
  .mobile #brandPage .bpNav__logo,
  .mobileapp #brandPage .bpNav__logo {
    width: 36px;
    height: 36px;
  }
  .mobile #brandPage .bpNav__menu,
  .mobileapp #brandPage .bpNav__menu {
    display: none;
  }
  .mobile #brandPage .bpNav__hamburger,
  .mobileapp #brandPage .bpNav__hamburger {
    display: block;
  }
  .mobile #brandPage .bpNav__hamburger__list,
  .mobileapp #brandPage .bpNav__hamburger__list {
    display: block;
  }
  .mobile #brandPage .bpButton,
  .mobileapp #brandPage .bpButton {
    width: 130px;
    padding: 4px 0;
  }
}
@media only screen and (max-width: 410px) {
  .mobile #brandPage .bpSingleLeft, .mobile #brandPage .bpSingleRight,
  .mobileapp #brandPage .bpSingleLeft,
  .mobileapp #brandPage .bpSingleRight {
    margin-bottom: 0;
  }
  .mobile #brandPage .bpSingleLeft__caption, .mobile #brandPage .bpSingleRight__caption,
  .mobileapp #brandPage .bpSingleLeft__caption,
  .mobileapp #brandPage .bpSingleRight__caption {
    width: 90%;
  }
  .mobile #brandPage .bpDouble,
  .mobileapp #brandPage .bpDouble {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 0px;
    gap: 24px;
  }
  .mobile #brandPage .bpDouble__caption,
  .mobileapp #brandPage .bpDouble__caption {
    width: 90%;
  }
}
@media only screen and (max-width: 360px) {
  .mobileapp #brandPage .bpDouble {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 0px;
  }
}